@{
	ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
	function SubmitForm() {
		var objectToSend = {
			Field1: $("input[name=Field1]").val(),
			Field2: parseFloat($("input[name=Field2]").val())
		};

		alert("Sending the value as: " + typeof (objectToSend.Field2) + " - With Value: " + objectToSend.Field2);

		$.ajax({
			url: "/home/submit/",
			dataType: "json",
			method: "POST",
			data: { data: objectToSend, },
			success: function (data, textStatus, jqXHR) {
				alert('Data Read: ' + JSON.stringify(data));
			}
		});
	}
</script>

<form>
	<div class="form-group">
		<label for="Field1">Field1 (sent as a text)</label>
		<input type="text" class="form-control" name="Field1" aria-describedby="Field1" placeholder="Field1">
		<small id="emailHelp" class="form-text text-muted">Put here a text</small>
	</div>
	<div class="form-group">
		<label for="Field2">Field2</label>
		<input type="text" class="form-control" name="Field2" placeholder="Field2">
		<small id="emailHelp" class="form-text text-muted">Put here a decimal like 0.541564513</small>
	</div>
	<button type="button" onclick="SubmitForm()" class="btn btn-primary">Submit via Ajax</button>
</form>